<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<meta name="description" content="Sonyseng.github.io : Pages site" />
	
	<script type="text/javascript" src="{{site.url}}/js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="{{site.url}}/stylesheets/foundation.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{site.url}}/stylesheets/stylesheet.css">

	<title>Sony - Random Code: {{page.title}}</title>
</head>

	<body>
		{% include header.html %}
		{% include footer.html %}
	</body>

</html>
